* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */	
}

.boton{
	border:1px solid #002E6A;
	background-color:#003c8a;
	padding:7px 18px;
	color:#FFF;
	text-shadow:1px 1px 2px #000;
	border-radius:6px;
	width:80%
}

.titulo{
	padding:8px 12px 8px 12px;
	font-size: 12px;
}
